<!DOCTYPE HTML>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
	<meta name="description" content="description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone=no" />

	<title th:text="#{employees.title}">HR Tool - Edit Groups</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	
</head>
<body>
	<div style="text-align: right;padding:5px;margin:5px 0px;background:#ccc;">
		<a th:href="@{/en/employees}"><span th:text="#{lang.en}">English</span></a>
       	&nbsp;|&nbsp;
       	<a th:href="@{/fr/employees}"><span th:text="#{lang.fr}">French</span></a>
       	&nbsp;|&nbsp;
       	<a th:href="@{/es/employees}"><span th:text="#{lang.es}">Spanish</span></a>
    </div>

	<br />
	
	<div style="height: 50%; width: 100%;">
		<div style="background-color: YELLOW;">
			<div style="position: absolute;">
				<span th:text="#{employees.button.edit}"></span>
			</div>
			<div style="text-align: right; position: relative;">
				<a th:href="@{/en/employees}" class="btn btn-outline-dark"><span th:text="#{employees.button.cancel}">Cancel</span></a>
				<button type="button" id="add" name="add" class="btn btn-primary" th:value="${employee.employeeId}" th:text="ADD"></button>
				<button type="button" id="update" name="update" class="btn btn-primary" th:value="${employee.employeeId}" th:text="UPDATE"></button>
			</div>
		</div>
		
		<form id="editEmployeeForm" action="#">
			<div style="width: 31%; float: left; margin-left: 25px; text-align: center; background-color: orange;">
				<div style="width: 100%; text-align: center;">
					<span>Personal Information</span>
				</div>
				
				<input type="hidden" id="employeeId" name="employeeId" th:field="*{employee.employeeId}" th:value=*{employee.employeeId} />
				<input type="hidden" id="userId" name="userId" th:field="*{employee.user.userId}" th:value=*{employee.user.userId} />
				<div>
					<input type="file" id="fileProfilePicture" name="fileProfilePicture" />
				</div>
				<div>
					<input type="text" placeholder="Contract number" th:field="*{employee.number}" />
				</div>
				<div>
					<input type="text" id="userFirstName" name="userFirstName" placeholder="Name" th:field="*{employee.user.userFirstName}" />
				</div>
				<div>
					<input type="text" id="userLastName" name="userLastName" placeholder="Last Name" th:field="*{employee.user.userLastName}" />
				</div>
				<div>
					<input type="text" placeholder="Number of NIN" th:field="*{employee.nin}" th:value="*{employee.nin}" />
				</div>
				<div>
					<input type="text" id="userPhone" name="userPhone" placeholder="Phone number" th:field="*{employee.user.userPhone}" />
				</div>
				<div>
					<input type="text" placeholder="Address" th:field="*{employee.address}" />
				</div>
				<div>
					<input type="text" placeholder="Country" th:field="*{employee.country}" />
				</div>
				<div>
					<input type="text" placeholder="City" th:field="*{employee.city}" />
				</div>
				<div>
					<input type="text" placeholder="Postal code" th:field="*{employee.postalCode}" />
				</div>
				<div>
					<input type="date" placeholder="Select birthday" th:field="*{employee.birthday}" />
				</div>
				<div>
					<input type="file" id="filePassportScan" name="filePassportScan" />
				</div>
				<div>
					<button type="button" id="delete" name="delete" th:value="${employee.employeeId}" class="btn btn-danger btn-sm">
			          <i class="far fa-trash-alt"></i>
			        </button>
				</div>
			</div>
			
			<div style="width: 31%; float: left; text-align: center; background-color: lightblue;">
				<div style="width: 100%; text-align: center;">
					<span>Job details</span>
				</div>
				
				<div>
					<select th:field="*{employee.permitId}" th:remove="all-but-first">
		                <option th:each="p : ${permitList}" th:value="${p.id}" th:text="${p.name}">Permit</option>
		            </select>
					<select th:field="*{employee.contractId}" th:remove="all-but-first">
		                <option th:each="c : ${contractList}" th:value="${c.id}" th:text="${c.name}">Contract</option>
		            </select>
				</div>
				<div>
					<input type="text" placeholder="Job position" th:field="*{employee.jobPosition}" />
					<select th:field="*{employee.billingId}" th:remove="all-but-first">
		                <option th:each="b : ${billingList}" th:value="${b.id}" th:text="${b.name}">Billing</option>
		            </select>
				</div>
				<div>
					<input type="date" placeholder="Select hire date" th:field="*{employee.hireDate}" />
					<input type="number" placeholder="Salary rate" th:field="*{employee.salary}" />
				</div>
				<div>
					<select th:field="*{employee.group}" th:remove="all-but-first">
		                <option th:each="g : ${groupList}" th:value="${g.id}" th:text="${g.name}">Group</option>
		            </select>
					<input type="text" id="client" name="client" placeholder="Rosclar" />
				</div>
				<div>
					<input type="number" placeholder="Number of days per year" th:field="*{employee.vacationAllowance}" />
				</div>
			</div>
			
			<div style="width: 31%; float: left; text-align: center; background-color: lightgreen;">
				<div style="width: 100%; text-align: center;">
					<span>User role</span>
				</div>
				
				<div style="width: 33%; float: left; text-align: center;">
					<div>
						<input type="text" id="userEmail" name="userEmail" placeholder="Email login" th:field="*{employee.user.userEmail}" th:value="*{employee.user.userEmail}" />
					</div>
					<div>
						<input type="password" id="password" name="password" placeholder="Password" th:field="*{employee.user.password}" th:value="*{employee.user.password}" />
					</div>
					<div>
						<input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm password" th:value="*{employee.user.password}" />
					</div>
					<div>
						<select id="language" name="language" th:field="*{employee.user.languageCode}" th:value="*{employee.user.languageCode}" th:remove="all-but-first">
			                <option th:each="l : ${languageList}" th:value="${l.code}" th:text="${l.description}">Language</option>
			            </select>
					</div>
				</div>
				
				<div style="width: 33%; float: left; text-align: center; background-color: red;">
					<div style="width: 100%; text-align: center;">
						<span>Roles selected</span>
					</div>
					
					<div>
						<select id="role" name="role" th:remove="all-but-first">
			                <option th:each="r : ${roleList}" th:value="${r.id}" th:text="${r.name}">Role</option>
			            </select>
		            </div>
		            <div>
		            	<span>Roles selected</span>
		            </div>
		            
					<div>
<!-- 						<th:block th:each="roleGroups : ${employee.roleGroups}"> -->
<!-- 							<span th:text="*{'Role: ' + roleGroups.role.name}"></span> -->
<!-- 							<th:block th:each="group : ${roleGroups.groups}"> -->
<!-- 								<span th:text="*{'Groups: ' + group.name}"></span> -->
<!-- 							</th:block> -->
<!-- 							<br> -->
<!-- 						</th:block> -->
						<th:block th:each="role : ${employee.roles}">
							<span th:text="*{'Role: ' + role.name}"></span>
							<br>
						</th:block>
		            </div>
		            
		            <div>
						<select id="role2" name="role2" th:remove="all-but-first">
			                <option th:each="r : ${roleList}" th:value="${r.id}" th:text="${r.name}">Role</option>
			            </select>
		            </div>
		            
				</div>
				
				<div style="width: 33%; float: left; text-align: center; background-color: pink;">
					<div style="width: 100%; text-align: center;">
						<span>Groups selected</span>
					</div>
					
					<div>
						<select id="groupRole" name="groupRole" th:remove="all-but-first">
			                <option th:each="g : ${groupList}" th:value="${g.id}" th:text="${g.name}">Group</option>
			            </select>
		            </div>
		            
		            <div>
						<span>Manager</span>
					</div>
					
					<div>
						<select th:field="*{employee.manager}" th:remove="all-but-first">
			                <option th:each="m : ${managerList}" th:value="${m.id}" th:text="${m.userFirstName + ' ' + m.userLastName}">Group</option>
			            </select>
		            </div>
				</div>
			</div>
			
			
			<hr />
			
		</form>
		
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<script type="text/javascript">
		$( document ).ready(function() {
			console.log('Hello from editEmployee.html');
		});
	
		$( "#add" ).on( "click", function( event ) {
			alert('Add Employee');

			var formDataJson = ' { '
				+ '"employeeId" : "' + $('#editEmployeeForm').find('#employeeId').val() + '"'
		      	+ ', "user" : '
			      	+ ' { '
			      		+ '"userId" : "' + $('#editEmployeeForm').find('#userId').val() + '"'
				      	+ ', "userEmail" : "' + $('#editEmployeeForm').find('#userEmail').val() + '"'
			      		+ ', "userFirstName" : "' + $('#editEmployeeForm').find('#userFirstName').val() + '"'
				      	+ ', "userLastName" : "' + $('#editEmployeeForm').find('#userLastName').val() + '"'
				      	+ ', "userPhone" : "' + $('#editEmployeeForm').find('#userPhone').val() + '"'
				      	+ ', "languageCode" : "' + $('#editEmployeeForm').find('#language').val() + '"'
				      	+ ', "password" : "' + $('#editEmployeeForm').find('#password').val() + '"'
			      	+ ' } '
		      	+ ', "number" : "' + $('#editEmployeeForm').find('#number').val() + '"'
	    		+ ', "userFirstName" : "' + $('#editEmployeeForm').find('#userFirstName').val() + '"'
			    + ', "userLastName" : "' + $('#editEmployeeForm').find('#userLastName').val() + '"'
			    + ', "nin" : "' + $('#editEmployeeForm').find('#nin').val() + '"'
			    + ', "address" : "' + $('#editEmployeeForm').find('#address').val() + '"'
			    + ', "country" : "' + $('#editEmployeeForm').find('#country').val() + '"'
			    + ', "city" : "' + $('#editEmployeeForm').find('#city').val() + '"'
			    + ', "postalCode" : "' + $('#editEmployeeForm').find('#postalCode').val() + '"'
			    + ', "birthday" : "' + $('#editEmployeeForm').find('#birthday').val() + '"'
// 			    + ', "passportScan" : "' + $('#editEmployeeForm').find('#filePassportScan')[0].files[0].name + '"'
// 			    + ', "profilePicture" : "' + $('#editEmployeeForm').find('#fileProfilePicture').val() + '"'
			    + ', "manager" : '
		    		+ ' { '
		    			+ '"userId" : "' + $('#editEmployeeForm').find('#manager').val() + '"'
		    		+ ' } '
			    // Job details
			    + ', "permitId" : "' + $('#editEmployeeForm').find('#permitId').val() + '"'
			    + ', "contractId" : "' + $('#editEmployeeForm').find('#contractId').val() + '"'
			    + ', "jobPosition" : "' + $('#editEmployeeForm').find('#jobPosition').val() + '"'
			    + ', "billingId" : "' + $('#editEmployeeForm').find('#billingId').val() + '"'
			    + ', "hireDate" : "' + $('#editEmployeeForm').find('#hireDate').val() + '"'
			    + ', "salary" : "' + $('#editEmployeeForm').find('#salary').val() + '"'
			    + ', "group" : '
		    		+ ' { '
		    			+ '"groupId" : "' + $('#editEmployeeForm').find('#group').val() + '"'
		    		+ ' } '
			    + ', "vacationAllowance" : "'+ $('#editEmployeeForm').find('#vacationAllowance').val() + '"'
			    // User Role
			    + ', "roles" : '
			    	+ ' [ '
			    		+ ' { '
			    			+ '"roleId" : "' + $('#editEmployeeForm').find('#role').val() + '"'
		    			+ ' } '
			    		+ ', { '
			    			+ '"roleId" : "' + $('#editEmployeeForm').find('#role2').val() + '"'
		    			+ ' } '
	    			+ ' ] '
	      	+ ' } ';
	      	
		    console.log(formDataJson);

			jQuery.ajax({
				method: 'PUT',
				headers: {
					'X-Auth-Client': '1'
				},
				data: formDataJson,
				dataType: 'json',
				contentType: 'application/json',
				url: "/api/v1/employee/",
				error : function(err) {
					console.log('Error!');
					console.log(err);
				},
				success: function(data) {
					alert("success: " + data);
				}
			});
		});

		$( "#update" ).on( "click", function( event ) {
			alert('Update Employee');

			var formDataJson = ' { '
				+ '"employeeId" : "' + $('#editEmployeeForm').find('#employeeId').val() + '"'
		      	+ ', "user" : '
			      	+ ' { '
			      		+ '"userId" : "' + $('#editEmployeeForm').find('#userId').val() + '"'
				      	+ ', "userEmail" : "' + $('#editEmployeeForm').find('#userEmail').val() + '"'
			      		+ ', "userFirstName" : "' + $('#editEmployeeForm').find('#userFirstName').val() + '"'
				      	+ ', "userLastName" : "' + $('#editEmployeeForm').find('#userLastName').val() + '"'
				      	+ ', "userPhone" : "' + $('#editEmployeeForm').find('#userPhone').val() + '"'
				      	+ ', "languageCode" : "' + $('#editEmployeeForm').find('#language').val() + '"'
				      	+ ', "password" : "' + $('#editEmployeeForm').find('#password').val() + '"'
			      	+ ' } '
		      	+ ', "number" : "' + $('#editEmployeeForm').find('#number').val() + '"'
	    		+ ', "userFirstName" : "' + $('#editEmployeeForm').find('#userFirstName').val() + '"'
			    + ', "userLastName" : "' + $('#editEmployeeForm').find('#userLastName').val() + '"'
			    + ', "nin" : "' + $('#editEmployeeForm').find('#nin').val() + '"'
			    + ', "address" : "' + $('#editEmployeeForm').find('#address').val() + '"'
			    + ', "country" : "' + $('#editEmployeeForm').find('#country').val() + '"'
			    + ', "city" : "' + $('#editEmployeeForm').find('#city').val() + '"'
			    + ', "postalCode" : "' + $('#editEmployeeForm').find('#postalCode').val() + '"'
			    + ', "birthday" : "' + $('#editEmployeeForm').find('#birthday').val() + '"'
// 			    + ', "passportScan" : "' + $('#editEmployeeForm').find('#filePassportScan')[0].files[0].name + '"'
// 			    + ', "profilePicture" : "' + $('#editEmployeeForm').find('#fileProfilePicture').val() + '"'
			    + ', "manager" : '
		    		+ ' { '
		    			+ '"userId" : "' + $('#editEmployeeForm').find('#manager').val() + '"'
		    		+ ' } '
			    // Job details
			    + ', "permitId" : "' + $('#editEmployeeForm').find('#permitId').val() + '"'
			    + ', "contractId" : "' + $('#editEmployeeForm').find('#contractId').val() + '"'
			    + ', "jobPosition" : "' + $('#editEmployeeForm').find('#jobPosition').val() + '"'
			    + ', "billingId" : "' + $('#editEmployeeForm').find('#billingId').val() + '"'
			    + ', "hireDate" : "' + $('#editEmployeeForm').find('#hireDate').val() + '"'
			    + ', "salary" : "' + $('#editEmployeeForm').find('#salary').val() + '"'
			    + ', "group" : '
		    		+ ' { '
		    			+ '"groupId" : "' + $('#editEmployeeForm').find('#group').val() + '"'
		    		+ ' } '
			    + ', "vacationAllowance" : "'+ $('#editEmployeeForm').find('#vacationAllowance').val() + '"'
			    // User Role
			    + ', "roles" : '
			    	+ ' [ '
			    		+ ' { '
			    			+ '"roleId" : "' + $('#editEmployeeForm').find('#role').val() + '"'
		    			+ ' } '
			    		+ ', { '
			    			+ '"roleId" : "' + $('#editEmployeeForm').find('#role2').val() + '"'
		    			+ ' } '
	    			+ ' ] '
	      	+ ' } ';
	      	
		    console.log(formDataJson);

			jQuery.ajax({
				method: 'PATCH',
				headers: {
					'X-Auth-Client': '1'
				},
				data: formDataJson,
				dataType: 'json',
				contentType: 'application/json',
				url: "/api/v1/employee/",
				error : function(err) {
					console.log('Error!');
					console.log(err);
				},
				success: function(data) {
					alert("success: " + data);
				}
			});
			

		    if ($('#editEmployeeForm').find('#fileProfilePicture')[0].files.length > 0) {
		      var file_data = $('#editEmployeeForm').find('#fileProfilePicture')[0].files[0];
// 		      file_name = $('#editEmployeeForm').find('#filePassportScan')[0].files[0].name;
		      var form_data = new FormData();
		      form_data.append('file', file_data);

		      jQuery.ajax({
		        type: 'PUT',
		        url: '/api/v1/uploads/profilePicture/' + $('#editEmployeeForm').find('#userId').val(),
		        async: false,
		        cache: false,
		        contentType: false,
		        processData: false,
		        data: form_data,
		        enctype: 'multipart/form-data',
		        success: function(fileName) {
		        	console.log(fileName);
		        }
		      });
		    }
		    
		    if ($('#editEmployeeForm').find('#filePassportScan')[0].files.length > 0) {
		      var file_data = $('#editEmployeeForm').find('#filePassportScan')[0].files[0];
// 		      file_name = $('#editEmployeeForm').find('#filePassportScan')[0].files[0].name;
		      var form_data = new FormData();
		      form_data.append('file', file_data);

		      jQuery.ajax({
		        type: 'PUT',
		        url: '/api/v1/uploads/passportScan/' + $('#editEmployeeForm').find('#employeeId').val(),
		        async: false,
		        cache: false,
		        contentType: false,
		        processData: false,
		        data: form_data,
		        enctype: 'multipart/form-data',
		        success: function(fileName) {
		          alert(fileName);
		        }
		      });
		    }
		});

		$('.btn-danger').on('click', function(data) {
			 // 			alert($(this).attr("value"));

 			jQuery.ajax({
 				method: 'DELETE',
 				headers: {
 					'X-Auth-Client': '1'
 				},
 				dataType: 'json',
 				contentType: 'application/json',
 				url: "/api/v1/uploads/passportScan/" + $(this).attr("value"),
 				error : function(err) {
 					console.log('Error!');
 					console.log(err);
 				},
 				success: function(data_success) {
 					alert("success: " + JSON.stringify(data_success));
				}
 			});

 		});

	</script>
</body>
</html>
